@using System.Security.Claims
<!DOCTYPE html>
<html lang="en" class="dark-theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETL_web_project</title>

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="~/css/dashboard/navbar-sidebar.css" asp-append-version="true" />

</head>
<body>
    <div class="dashboard">

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <a href='#'>
                    <i class="fas fa-cube fa-2x logo"></i>
                </a>
                <h2>Monitor</h2>
            </div>
            <ul class="sidebar-links">
                <h4>
                    <span>Main Menu</span>
                    <div class="menu-separator"></div>
                </h4>
                <li>
                    @* hepsi *@
                    <a asp-controller="Dashboard" asp-action="Index">
                        <i class="fa-solid fa-solar-panel"></i>
                        Dashboard panel
                   </a>
                </li>

                <li>
                    @* sadece admin *@
                    <a asp-controller="Etl" asp-action="Jobs">
                        <i class="fa-solid fa-solar-panel"></i>
                        ETL Jobs
                    </a>
                </li>

                <li>
                    @* admin ve analist(sadece görüntüleme) *@
                    <a asp-controller="Etl" asp-action="Logs">
                        <i class="fa-solid fa-solar-panel"></i>
                        ETL Logs
                    </a>
                </li>

                <li>
                    @* admin ve analist(readonly) *@
                    <a asp-controller="Etl" asp-action="Staging">
                        <i class="fa-solid fa-solar-panel"></i>
                        Staging Tables
                    </a>
                </li>

                <li>
                    @* admin ve analist ve viewer((sadece dashboard grafikleri) *@
                    <a asp-controller="Etl" asp-action="Facts">
                        <i class="fa-solid fa-solar-panel"></i>
                        Fact Explorer
                    </a>
                </li>

                <li>
                    @* sadece admin *@
                    <a asp-controller="Etl" asp-action="Schedule">
                        <i class="fa-solid fa-solar-panel"></i>
                        ETL Schedule
                    </a>
                </li>

                <h4>
                    <span>Account</span>
                    <div class="menu-separator"></div>
                </h4>

                <li>
                    @* sadece admin *@
                    <a asp-controller="Admin" asp-action="Index">
                        <i class="fa-solid fa-user-tie"></i>
                        Admin panel
                    </a>
                </li>

                <li>
                    <a asp-controller="Settings" asp-action="Index">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        Settings
                    </a>
                </li>

                <li>
                    @* BUNU ACMADIM BAKILACAK *@
                    <a asp-controller="Account" asp-action="Logout">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Logout
                    </a>
                </li>
            </ul>
            <div class="user-account">
                <div class="user-profile">
                    <img src="images/profile-img.jpg"
                    alt="profile-img"/>
                    <div class="user-detail">
                        <h3>@User.Identity?.Name</h3>
                        <span>@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value</span>
                    </div>
                </div>
            </div>
        </aside>


        <!-- Right side content -->
        <div class="main-wrapper">
            <!-- Navbar -->
            <nav class="top-navbar">
                <h2>Dashboard Navbar</h2>
            </nav>


        <!-- Main Content -->
        <main class="main-content">

            <!-- Dashboard Container -->
            <div class="dashboard-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <!-- Footer -->


    <script src="~/js/dashboard/navbar-sidebar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
